{% extends 'user/base.html' %}
{% block content %}
<div class="ui red piled segment contact_div">
  <h2 class="ui right floated header"> درباره ما </h2>
  <div class="ui clearing divider"></div>

  <div class="ui raised segment">
    <div class="ui top right attached label">وبسایت </div>
      این وبسایت متعلق به موسسه بانکی فا میباشد.
      <br>
      اعمال مربوط به مشتریان همچون انتقال وجه، مشاهده صورتحساب، گردش حساب و... در این وبسایت قابل انجام است
      <br>
    </div>

  <div class="ui raised segment">
    <div class="ui top right attached label">نویسنده </div>
    <br>
     طراحان و نویسندگان این وبسایت گروهی 3 نفره از دانشجویان دانشگاه صنعتی شریف میباشد که اسامی آنها به صورت زیر است:
     <br>
     مصطفی جنگلی : دانشجوی رشته فناوری اطلاعات
     <br>
     سید احسان طاهر : دانشجوی رشته فناوری اطلاعات
     <br>
     محمدرضا کریمی :  دانشجوی رشته فناوری اطلاعات
  </div>
  
</div>
{% endblock %}