{% extends 'user/base.html' %}
{% block content %}
<div class="ui red piled segment contact_div">
  <h2 class="ui right floated header"> خانه </h2>
  <div class="ui clearing divider"></div>

  <div class="ui raised segment">
    <div class="ui top right attached label">وبسایت </div>
     این وبسایت حاصل کار گروهی از دانشجویان رشته کامپیوتر دانشگاه صنعتی شریف میباشد که برای درس تحلیل و طراحی سیستم های کامپیوتری در ترم پاییز سال 1395 ایجاد شده است.
     <br>
     این وبساتی به منظرو تسهیل در عملیات بانکی مشتریان بانک تازه تاسیس "فا" میباشد.
     <br>
     عملیات مختللفی که توسط مشتری قابل انجام است شامل موارد زیر است :
     <br>
     ***لازم به ذکر است برای دستیابی به هر قسمت کافیست ابتدا از طریق فرم ورود به وبسایت وارد شده سپس وارد صفحه شخصی خود شوید.
     <br>
     .عملیات انتقال حساب
     <br>
     .عملیات تغییر رمز ورود به وبسایت
     <br>
     .مشاهده شماره حساب و شماره شبا
     <br>
     .مشاهده مانده حساب
     <br>
     .مشاهده گردش حساب
     <br>
     .عملیات پرداخت قبوض
    </div>
</div>
{% endblock %}